@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WantedSans-bold';
  font-weight: 700;
  src: url('/fonts/WantedSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'WantedSans-SemiBold';
  font-weight: 600;
  src: url('/fonts/WantedSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'WantedSans-Medium';
  font-weight: 500;
  src: url('/fonts/WantedSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'WantedSans-Regular';
  font-weight: 400;
  src: url('/fonts/WantedSans-Regular.ttf') format('truetype');
}


body {
  font-family: 'WantedSans-Regular', sans-serif;
}